<div class="row">
  <div class="col-md-4" style="position: relative; left: 40px;">
    <label for="genre">Género</label>
    <select
      class="form-control"
      id="genre"
      [(ngModel)]="selectedGenre"
      (ngModelChange)="applyFilters()"
    >
      <option value="">Todos los géneros</option>
      <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>
  </div>
  <div class="col-md-4" style="position: relative; left: 40px;">
    <label for="platform">Plataforma</label>
    <select
      class="form-control"
      id="platform"
      [(ngModel)]="selectedPlatform"
      (ngModelChange)="applyFilters()"
    >
      <option value="">Todas las plataformas</option>
      <option *ngFor="let platform of platforms" [value]="platform">
        {{ platform }}
      </option>
    </select>
  </div>
</div>
<div class="row m-4">
  <div class="col-4" *ngFor="let game of filteredGames">
    <div class="card mb-4" style="min-height: 400px; display: flex; justify-content: center; align-content: center;">
      <img [src]="game.thumbnail" class="card-img-top" alt="{{ game.title }}" />
      <div class="card-body" style="display: inline-block; justify-content: center; align-content: center;">
        <h5 class="card-title">{{ game.title }}</h5>
        <p class="card-text">{{ game.short_description }}</p>
        <button type="button" class="btn btn-dark" (click)="navigateToGameDetails(game.id)">Ver detalles</button>
      </div>
    </div>
  </div>
</div>
